obj
bin
Bin
deploy
deploy/*
*ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
*.vbproj.user
_UpgradeReport_Files
UpgradeLog*
*~
.DS_Store
xcuserdata/
project.xcworkspace/

*.DotSettings.user
TestResult.xml
